h1,
div,
p {
  border: 3px solid blueviolet;
  text-align: center;
  color: cornflowerblue;
  padding: 10px;
  display: block;
}

div {
  visibility: hidden;
}

span {
  display: inline;
  border: 1px solid blue;
}

a {
  display: none;
}