h1 {
  text-align: center;
  color: crimson;
}

div.relative {
  width: 500px;
  height: 300px;
  position: relative;
  top: 100px;
  left: 100px;
  border: 3px solid cornflowerblue;
}

div.absolute {
  border: 3px solid firebrick;
  position: absolute;
  top: 0;
  right: 0;
}